<div class="space-y-4">
  <h2 class="text-2xl font-light text-gray-500 italic indent-8">
    Jack of all trades, master of <u>some</u>
  </h2>
  <p class="text-lg indent-8 text-justify">
    I’m Gökhan, a senior full-stack developer with over two decades in
    tech—ever since I built my first website in 2002 (it’s still online!
    <a href="https://trmetallica0.tripod.com/" class="text-accent">Check it out</a>,
    <a href="https://github.com/gwainor/trmetallica0.tripod.com" class="text-accent">source code</a>).
    My fascination with computers began at age ten, and I’ve been immersed
    in coding ever since, learning web development through offline HTML
    pages, the PHP manual, and open-source projects.
  </p>
  <p class="text-lg indent-8 text-justify">
    Over the years, I’ve created intranet apps for large organizations like
    OYAK and Koç, dove into AI-powered startups in the U.S., and built solutions
    spanning web, mobile, and backend systems. I’m a relentless problem solver
    who loves turning ideas into robust, user-centered experiences.
  </p>
  <p class="text-lg indent-8 text-justify">
    I’m a passionate developer who loves to code and build things. I have
    worked with many programming languages (such as PHP, Python, JavaScript,
    GO, Rust etc.) and frameworks (such as Laravel, Django, Express,
    Flask, FastAPI, NestJS, AdonisJS etc.).
  </p>
</div>
