<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-background text-foreground antialiased">
    <div class="flex flex-col min-h-screen">
      <main class="relative flex-1">
        <a href="/" class="absolute top-4 left-8 flex-center z-50 group">
          <span class="text-4xl font-bold text-accent">&lt;</span>
          <span class="text-5xl font-black group-hover:font-normal transition-all duration-300">G</span>
          <span class="text-5xl w-0 overflow-hidden group-hover:w-34 transition-all duration-300 delay-0 group-hover:delay-100">okhan</span>
          <span class="text-5xl font-black group-hover:font-normal transition-all duration-300">O</span>
          <span class="text-5xl w-0 overflow-hidden group-hover:w-29 transition-all duration-300 delay-100 group-hover:delay-0">zturk</span>
          <span class="text-4xl font-bold text-accent">/&gt;</span>
        </a>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        {{ block "main" . }}{{ end }}
      </main>
      {{- if .IsHome }}
      {{- else }}
      {{ partial "footer.html" . }}
      {{- end }}
    </div>
  </body>
</html>
